* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: transparent;
  cursor: pointer;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
  background-color: #211d28;
}

html {
  font-size: 62.5%;
}

#login {
  display: none;
}

#login:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#feed {
  display: none;
}

#feed:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

h1 {
  font-size: 5.6rem;
  line-height: 6.4rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 5.6rem;
}

h3 {
  font-size: 4rem;
  line-height: 4.8rem;
}

h4 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h5 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h6 {
  font-size: 2rem;
  line-height: 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #ffffff;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #ffffff;
}

p.large {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

p.small {
  font-size: 1.4rem;
  line-height: 2rem;
}

p.caption {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

p.subtitle {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
}

.animate-in {
  -webkit-animation: fadeIn 0.5s ease-in;
  animation: fadeIn 0.5s ease-in;
}

.animate-out {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 0.8rem;
  width: 100%;
  height: 4.8rem;
  border-radius: 12px;
}

button.small {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

button.large {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

button.primary {
  background: linear-gradient(135deg, #9a4dff 0%, #f600dd 100%);
}

button.primary:hover {
  background: none;
  -webkit-box-shadow: -1px 0 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, 0 -1px 0 2px #9a4dff inset, 0 1px 0 2px #f600dd inset, 1px -1px 0 2px #f600dd inset, 1px 1px 0 2px #f600dd inset, 1px 0 0 2px #f600dd inset;
          box-shadow: -1px 0 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, 0 -1px 0 2px #9a4dff inset, 0 1px 0 2px #f600dd inset, 1px -1px 0 2px #f600dd inset, 1px 1px 0 2px #f600dd inset, 1px 0 0 2px #f600dd inset;
}

button.secondary {
  -webkit-box-shadow: -1px 0 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, 0 -1px 0 2px #9a4dff inset, 0 1px 0 2px #f600dd inset, 1px -1px 0 2px #f600dd inset, 1px 1px 0 2px #f600dd inset, 1px 0 0 2px #f600dd inset;
          box-shadow: -1px 0 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, 0 -1px 0 2px #9a4dff inset, 0 1px 0 2px #f600dd inset, 1px -1px 0 2px #f600dd inset, 1px 1px 0 2px #f600dd inset, 1px 0 0 2px #f600dd inset;
}

button.secondary span {
  background: linear-gradient(135deg, #9a4dff 0%, #f600dd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.secondary:hover {
  background: linear-gradient(135deg, #9a4dff 0%, #f600dd 100%);
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.secondary:hover span {
  background: none;
  -webkit-text-fill-color: unset;
}

button.icon span {
  margin-right: 1.2rem;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem;
  width: 100%;
  background: #211d28;
  border: 2px solid #474053;
}

.input-container > img {
  opacity: 0.3;
}

.input-container:hover {
  border: none;
  -webkit-box-shadow: -1px 0 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, 0 -1px 0 2px #9a4dff inset, 0 1px 0 2px #f600dd inset, 1px -1px 0 2px #f600dd inset, 1px 1px 0 2px #f600dd inset, 1px 0 0 2px #f600dd inset;
          box-shadow: -1px 0 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, 0 -1px 0 2px #9a4dff inset, 0 1px 0 2px #f600dd inset, 1px -1px 0 2px #f600dd inset, 1px 1px 0 2px #f600dd inset, 1px 0 0 2px #f600dd inset;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrapper img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin-right: 0.8rem;
  width: 2.4rem;
}

.input-wrapper input {
  background: #211d28;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: rgba(239, 239, 255, 0.5);
  width: 100%;
}

.input-wrapper input.search {
  font-weight: normal;
  background: none;
}

.input-wrapper:hover img {
  -webkit-filter: none;
          filter: none;
}

.input-wrapper:hover input {
  color: #ffffff;
}

.input-wrapper:hover input::-webkit-input-placeholder {
  color: #ffffff;
}

.input-wrapper:hover input:-ms-input-placeholder {
  color: #ffffff;
}

.input-wrapper:hover input::-ms-input-placeholder {
  color: #ffffff;
}

.input-wrapper:hover input::placeholder {
  color: #ffffff;
}

.search-bar {
  padding: 8px 12px 8px 8px;
  background: rgba(239, 239, 255, 0.1);
  border: 1px solid #474053;
  border-radius: 24px;
}

.tab {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  color: #ffffff;
  padding: 8px 16px;
  background: rgba(239, 239, 255, 0.1);
  border-radius: 18px;
}

.tab:not(:first-child) {
  margin-left: 0.8rem;
}

.tab:hover, .tab.active {
  -webkit-box-shadow: -1px 0 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, 0 -1px 0 2px #9a4dff inset, 0 1px 0 2px #f600dd inset, 1px -1px 0 2px #f600dd inset, 1px 1px 0 2px #f600dd inset, 1px 0 0 2px #f600dd inset;
          box-shadow: -1px 0 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, -1px -1px 0 2px #9a4dff inset, 0 -1px 0 2px #9a4dff inset, 0 1px 0 2px #f600dd inset, 1px -1px 0 2px #f600dd inset, 1px 1px 0 2px #f600dd inset, 1px 0 0 2px #f600dd inset;
}

.s-login .ellipse-top,
.s-login .ellipse-bottom {
  position: absolute;
  pointer-events: none;
  width: 86rem;
  height: 86rem;
}

.s-login .ellipse-top {
  right: -50rem;
  top: -40rem;
  background: url(../../assets/img/ellipse-top.png) center center no-repeat;
}

.s-login .ellipse-bottom {
  left: -50rem;
  bottom: -40rem;
  background: url(../../assets/img/ellipse-bottom.png) center center no-repeat;
}

.s-login .container {
  width: 100%;
  padding: 0 2.4rem;
}

.s-login .icon-crypto {
  width: 15.3rem;
  height: 15.3rem;
  margin: 8.8rem auto 0;
}

.s-login .text {
  text-align: center;
}

.s-login .text p {
  margin: 0.4rem 0 3.2rem;
  opacity: 0.5;
}

.s-login .inputs .input-container:first-child {
  border-radius: 12px 12px 0px 0px;
}

.s-login .inputs .input-container:last-child {
  border-radius: 0px 0px 12px 12px;
}

.s-login .recover-password {
  margin: 0.8rem 0 3.2rem;
}

.s-login .recover-password p {
  text-align: right;
  font-weight: bold;
  background: linear-gradient(135deg, #9a4dff 0%, #f600dd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s-login .divider {
  width: 100%;
  max-width: 18rem;
  height: 1px;
  background: #474053;
  margin: 4.8rem auto;
}

.s-feed .container {
  width: 100%;
  padding: 0 2.4rem;
}

.s-feed .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4.8rem 0 2.4rem;
}

.s-feed .header img {
  -webkit-filter: drop-shadow(0px 0px 32px rgba(189, 48, 242, 0.5));
          filter: drop-shadow(0px 0px 32px rgba(189, 48, 242, 0.5));
  width: 5.6rem;
}

.s-feed .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.4rem 0;
  overflow-x: scroll;
  width: 100%;
  padding: 0 2.4rem;
}

.s-feed .feed {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 38.2rem;
}

.s-feed .feed .card-container {
  height: 36.8rem;
  position: relative;
  border-radius: 12px;
  background-size: cover !important;
}

.s-feed .feed .card-container.card-0 {
  background: url("../../assets/img/0.jpeg") left top no-repeat;
}

.s-feed .feed .card-container.card-1 {
  background: url("../../assets/img/1.jpeg") left top no-repeat;
}

.s-feed .feed .card-container.card-2 {
  background: url("../../assets/img/2.jpeg") left top no-repeat;
}

.s-feed .feed .card-container.card-3 {
  background: url("../../assets/img/3.jpeg") left top no-repeat;
}

.s-feed .feed .card-container.card-4 {
  background: url("../../assets/img/4.jpeg") left top no-repeat;
}

.s-feed .feed .card-container.card-5 {
  background: url("../../assets/img/5.jpeg") left top no-repeat;
}

.s-feed .feed .card-container.card-6 {
  background: url("../../assets/img/6.jpeg") left top no-repeat;
}

.s-feed .feed .card-container.card-7 {
  background: url("../../assets/img/7.jpeg") left top no-repeat;
}

.s-feed .feed .card-container.card-8 {
  background: url("../../assets/img/8.jpeg") left top no-repeat;
}

.s-feed .feed .card-container:not(:first-child) {
  margin-top: 2.4rem;
}

.s-feed .feed .card-container .card-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.6rem 2.4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(28px);
          backdrop-filter: blur(28px);
  border-radius: 0 0 12px 12px;
}

.s-feed .feed .card-container .card-info .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-feed .feed .card-container .card-info .user .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-feed .feed .card-container .card-info .user .avatar img {
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1.2rem;
}

.s-feed .feed .card-container .card-info .user .name .caption {
  color: #ffa7ff;
}

.s-feed .feed .card-container .card-info .price {
  text-align: right;
}

.s-feed .feed .card-container .card-info .price .caption {
  color: #ffa7ff;
}

.s-feed .navigation {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-top: 1px solid #474053;
  background-color: #211d28;
}

.s-feed .navigation img {
  width: 4rem;
}

.s-feed .navigation img.circle {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */