@import "partials/colors";
@import "partials/reset";
@import "partials/typography";
@import "partials/animations";
@import "partials/buttons";
@import "partials/inputs";
@import "partials/tabs";
@import "partials/login";
@import "partials/feed";
