$border-width: 2px;
$border-radius: 12px;

button {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0.8rem;
  width: 100%;
  height: 4.8rem;
  border-radius: $border-radius;

  &.small {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &.large {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  &.primary {
    background: $gradient-1;

    &:hover {
      background: none;
      box-shadow: -1px 0 0 2px rgba(154, 77, 255, 1) inset,
        -1px -1px 0 2px rgba(154, 77, 255, 1) inset,
        -1px -1px 0 2px rgba(154, 77, 255, 1) inset,
        0 -1px 0 2px rgba(154, 77, 255, 1) inset,
        0 1px 0 2px rgba(246, 0, 221, 1) inset,
        1px -1px 0 2px rgba(246, 0, 221, 1) inset,
        1px 1px 0 2px rgba(246, 0, 221, 1) inset,
        1px 0 0 2px rgba(246, 0, 221, 1) inset;
    }
  }

  &.secondary {
    box-shadow: -1px 0 0 2px rgba(154, 77, 255, 1) inset,
      -1px -1px 0 2px rgba(154, 77, 255, 1) inset,
      -1px -1px 0 2px rgba(154, 77, 255, 1) inset,
      0 -1px 0 2px rgba(154, 77, 255, 1) inset,
      0 1px 0 2px rgba(246, 0, 221, 1) inset,
      1px -1px 0 2px rgba(246, 0, 221, 1) inset,
      1px 1px 0 2px rgba(246, 0, 221, 1) inset,
      1px 0 0 2px rgba(246, 0, 221, 1) inset;

    span {
      background: $gradient-1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      background: $gradient-1;
      box-shadow: none;

      span {
        background: none;
        -webkit-text-fill-color: unset;
      }
    }
  }

  &.icon {
    span {
      margin-right: 1.2rem;
    }
  }
}
