$primary-100: #0000dc;
$primary-200: #4000f3;
$primary-300: #6218ff;
$primary-400: #7f35ff;
$primary-500: #9a4dff;
$primary-600: #b563ff;
$primary-700: #cf7aff;
$primary-800: #e990ff;
$primary-900: #ffa7ff;

$secondary-100: #940085;
$secondary-200: #ac009a;
$secondary-300: #c400b0;
$secondary-400: #dd00c6;
$secondary-500: #f600dd;
$secondary-600: #ff2df4;
$secondary-700: #ff4fff;
$secondary-800: #ff6cff;
$secondary-900: #ff86ff;

$tertiary-100: #004477;
$tertiary-200: #00578c;
$tertiary-300: #006aa1;
$tertiary-400: #007eb7;
$tertiary-500: #0093cd;
$tertiary-600: #00a8e4;
$tertiary-700: #00befb;
$tertiary-800: #3bd4ff;
$tertiary-900: #5eebff;

$white: #ffffff;
$black: #000000;
$background: #211d28;
$border: #474053;
$neutral: #efefff;

$gradient-1: linear-gradient(135deg, #9a4dff 0%, #f600dd 100%);
$gradient-2: linear-gradient(135deg, #9a4dff 0%, #5eebff 100%);
$gradient-3: linear-gradient(135deg, #00befb 0%, #5eebff 100%);
$gradient-4: linear-gradient(135deg, #ffa7ff 0%, #f600dd 100%);
$background-component: linear-gradient(90deg, rgba(71, 64, 83, 0.3) 0%, rgba(71, 64, 83, 0) 100%);
