.s-feed {
  .container {
    width: 100%;
    padding: 0 2.4rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4.8rem 0 2.4rem;

    img {
      filter: drop-shadow(0px 0px 32px rgba(189, 48, 242, 0.5));
      width: 5.6rem;
    }
  }

  .tabs {
    display: flex;
    align-items: center;
    margin: 2.4rem 0;
    overflow-x: scroll;
    width: 100%;
    padding: 0 2.4rem;
  }

  .feed {
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 38.2rem;

    .card-container {
      height: 36.8rem;
      position: relative;
      border-radius: 12px;
      background-size: cover !important;

      &.card-0 {
        background: url("../../assets/img/0.jpeg") left top no-repeat;
      }
      &.card-1 {
        background: url("../../assets/img/1.jpeg") left top no-repeat;
      }
      &.card-2 {
        background: url("../../assets/img/2.jpeg") left top no-repeat;
      }
      &.card-3 {
        background: url("../../assets/img/3.jpeg") left top no-repeat;
      }
      &.card-4 {
        background: url("../../assets/img/4.jpeg") left top no-repeat;
      }
      &.card-5 {
        background: url("../../assets/img/5.jpeg") left top no-repeat;
      }
      &.card-6 {
        background: url("../../assets/img/6.jpeg") left top no-repeat;
      }
      &.card-7 {
        background: url("../../assets/img/7.jpeg") left top no-repeat;
      }
      &.card-8 {
        background: url("../../assets/img/8.jpeg") left top no-repeat;
      }

      &:not(:first-child) {
        margin-top: 2.4rem;
      }

      .card-info {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.6rem 2.4rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(28px);
        border-radius: 0 0 12px 12px;
        .user {
          display: flex;
          align-items: center;

          .avatar {
            display: flex;

            img {
              border-radius: 50%;
              width: 4.8rem;
              height: 4.8rem;
              margin-right: 1.2rem;
            }
          }

          .name {
            .caption {
              color: $primary-900;
            }
          }
        }

        .price {
          text-align: right;

          .caption {
            color: $primary-900;
          }
        }
      }
    }
  }

  .navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem 2.4rem;
    border-top: 1px solid $border;
    background-color: $background;

    img {
      width: 4rem;

      &.circle {
        width: 100%;
      }
    }
  }
}
