.s-pdp {
  .scroll {
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 80px;
  }

  .container {
    width: 100%;
    padding: 0 2.4rem;
  }

  .nft-art {
    position: relative;

    .close-button {
      position: absolute;
      top: 4.8rem;
      right: 2.4rem;

      transition: ease 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .nft-name {
    margin-top: 2.4rem;

    h6 {
      color: $primary-900;
    }
  }

  .owner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem 2.4rem;
    padding: 1.6rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .user {
      display: flex;
      align-items: center;

      .avatar {
        display: flex;

        img {
          border-radius: 50%;
          border: 1px solid $primary-800;
          width: 4.8rem;
          height: 4.8rem;
          margin-right: 1.2rem;
        }
      }

      .name {
        .caption {
          color: $primary-900;
          font-style: italic;
        }
      }
    }

    .price {
      text-align: right;

      .caption {
        color: $primary-900;
        font-style: italic;
      }
    }
  }

  .bids {
    margin-top: 0.8rem;

    > p {
      font-weight: bold;
    }

    .bids-list {
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      margin: 1.2rem 0;

      .bid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.6rem 2.4rem;

        &.hide {
          display: none;
        }

        &:not(:first-child) {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        .user {
          display: flex;
          align-items: center;

          .avatar {
            display: flex;
            position: relative;

            img:first-of-type {
              border-radius: 50%;
              border: 1px solid $primary-800;
              width: 4.8rem;
              height: 4.8rem;
              margin-right: 1.2rem;
            }

            img.verified {
              position: absolute;
              bottom: -4px;
              right: 4px;
            }
          }

          .name {
            .caption {
              color: $primary-900;
              font-style: italic;
            }
          }
        }

        .price {
          text-align: right;

          .caption,
          .large {
            color: $primary-900;
          }

          .large {
            font-weight: bold;
          }
        }
      }
    }

    .show-more {
      span {
        &.hide {
          display: none;
        }
      }
    }
  }
}
