* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: transparent;
  cursor: pointer;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
  background-color: $background;
}

html {
  font-size: 62.5%;
}

#login {
  display: none;
}
#login:target {
  display: flex;
}

#feed {
  display: none;
}
#feed:target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#pdp {
  display: none;
}
#pdp:target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#wallet {
  display: none;
}
#wallet:target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#ranking {
  display: none;
}
#ranking:target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#user {
  display: none;
}
#user:target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
