.tab {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  color: $white;
  padding: 8px 16px;
  background: rgba(239, 239, 255, 0.1);
  border-radius: 18px;

  &:not(:first-child) {
    margin-left: 0.8rem;
  }

  &:hover,
  &.active {
    box-shadow: -1px 0 0 2px rgba(154, 77, 255, 1) inset,
      -1px -1px 0 2px rgba(154, 77, 255, 1) inset,
      -1px -1px 0 2px rgba(154, 77, 255, 1) inset,
      0 -1px 0 2px rgba(154, 77, 255, 1) inset,
      0 1px 0 2px rgba(246, 0, 221, 1) inset,
      1px -1px 0 2px rgba(246, 0, 221, 1) inset,
      1px 1px 0 2px rgba(246, 0, 221, 1) inset,
      1px 0 0 2px rgba(246, 0, 221, 1) inset;
  }
}
