<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button class="primary">Botão</button>
    <button class="primary small">Botão</button>
    <button class="primary large">Botão</button>
    <button class="secondary">Botão</button>
    <button class="secondary small">Botão</button>
    <button class="secondary large">Botão</button>
    <button class="secondary icon">
      <span>Botão</span> <img src="./assets/icons/metamask.svg" alt="" />
    </button>
    <button class="secondary icon small">
      <span>Botão</span> <img src="./assets/icons/metamask.svg" alt="" />
    </button>
    <button class="secondary icon large">
      <span>Botão</span> <img src="./assets/icons/metamask.svg" alt="" />
    </button>
  </body>
</html>
